@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(./assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Hind";
  src: local("Hind"),
    url(./assets/fonts/Hind/Hind-Regular.ttf) format("truetype");
}

:root {
  --body-white: #e5e5e5;
  --mm-dark-grey: #183a4b;
}

html,
body {
  background-color: var(--body-white);
  color: var(--mm-dark-grey);

  font-family: Hind, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

h1 {
  @apply text-2xl md:text-4xl tracking-tight mb-4;
}

.btn {
  text-transform: uppercase;
  @apply font-bold text-center rounded-2xl;
}

.btn-gradient {
  @apply text-white py-4 px-6 bg-gradient-to-r from-secondary to-primary;
}

.card {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12),
    0px 1px 8px rgba(0, 0, 0, 0.1);
}
